numpy==1.24.2
pandas==2.2.2
streamlit==1.36.0
psycopg2-binary==2.9.9
mplsoccer==1.2.4
python-dotenv==1.0.1

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDFDfPuLOWSsiVifs/hrFj/1T1IWlQ0aGlA4Htg3QyyJB22OmU2hmzSyWCCWh619YhCP8uw773k2C26SF7ElbUdwzO58+I9hZ4iTYcdmZQKgHHSzyZsAA5EL2U9zmuDZXxKN6innAzYnjw2Hef4G8rYP8MakZ7B/4Je2cfk7/ddLxQ+DEmOeQRBvXLcWpHbpbxCwUJ+NG3knSAhh6jIhgg6n8jG2yOTe92j2MfN9NR0PyFL/BZVR1wk/Mo6873ODHSSQI3NY1t4BZcJ2ZVB1MvRyPgik7XOx1/O9QgQzGSYQ5f0RYVUrq7TfJTb4wqwn8Tvdry6uJS1RcjjQS7+G+MCXLzELLG90by2b7x1mHDe4EPT8/xmMv/5tWrI4JiF9Bl+SrDM1UDsG8fpD7sLCyi3cQ7GCHNEsTDVgrv6ZgRNStxj0a0t4xwMFJNY0NnB2xJG+3AeDR3loCFkWrZFwpKiWgqw95xUlfoQu2ZLak1Hd0BOUF5COCdR+aZ5S1nBC7Unh6P0QcyUYWWBZXIpkl8o45JoTQjndxP0HIUaIrutjY4zk4uCrVlQALYHvcAzGrWR2nTHuY5A0f0HTdRmUK5AUKxYibvx6cz7cCeGsXO1aos0rrWBsAmfzSPhpVrI3mCGnQQN1NdBJQIbKX8zOZTvYCjt1/okoIa04eByS5UPCw== viv.tiwari13@gmail.com
